
.DecksContainer {
    margin-top: 20px;
    position: relative;
}
/*DeckBuilder page styles*/
/* Deck Builder Site */
.DeckBuilder_CardSearch_Container {
    float: right;
    width: 100%;
    max-width: 100%;
    position: relative;
}

.DeckBuilder_DeckCards_Container {
    float: left;
    width: 100%;
    max-width: 100%;
    position: absolute;

}
.deck-container {
    position: relative;
}

.deckView {
    width: 100px;
}

.deckCardImage {
    width: 10%;
}

.searchCardImage {
    width: 100px;
    padding: 0px;
    position: relative;
}

.searchTable th,
.searchTable td {
    width: 40%; /* Adjust the width as needed */
    vertical-align: top; /* Align content to the top of cells */
    align-content: center;
    align-items: center;
    position: relative;
}

.DeckBuilder_Container_MainDeck
.DeckBuilder_Container_ExtraDeck
.DeckBuilder_Container_SideDeck {
    max-width: 100%;
    width: 100%;
    min-height: 100px;
    min-width: 100px;
    border: 2px dashed #888;
    padding: 100px;
    margin: 100px;

}

/* Add a glowing effect when a card is dragged over the containers */
.DeckBuilder_Container_MainDeck.dragover,
.DeckBuilder_Container_ExtraDeck.dragover,
.DeckBuilder_Container_SideDeck.dragover {
    animation: glow 0.5s infinite alternate; /* Use the 'glow' animation */
}
/* Define the 'glow' animation */
@keyframes glow {
    0% {
        box-shadow: 0 0 5px rgba(255, 223, 0, 0.8); /* Initial shadow */
    }

    100% {
        box-shadow: 0 0 20px rgba(255, 223, 0, 1); /* Glowing shadow */
    }
}


/* Card Viewer Site */
/* Add your Card Viewer styles here */
/*Split section Deckbuilder*/
.split-section {
    display: flex;
    width: 100%;

}

.cards-section {
    flex: 1;
    width: 10%;
    padding: 20px;
    max-height: 700px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background-color: rgb(0 0 0 / 70%);
    /* Adjust the last value (alpha) for transparency */
}

.deck-section {
    flex: 2;
    width: 60%;
    padding: 20px;
    background-color: rgba(11, 16, 43, 0.7); /* Adjust the last value (alpha) for transparency */
    position: relative;
}


.detail-section {
    flex: 1; /* Adjust the flex value as needed */
    flex-direction: column;
    /*align-items: center;
    text-align: center;*/
    padding-top: 10px;
    width: 10%;
    /*padding: 20px;*/
    max-height: 80%;
    overflow-y: auto;
    border: 1px solid #ccc;
    align-content: start;
    position: relative;
}
.detail-section p {
    color: azure;
    position: center;
    align-content: center;
    text-align: center;
}
.bigCard {
    position: relative;
    top: 5px;
    left: 10px;
}

.image-container {
    position: relative;
}

.details {
    position: relative;
    top: 75%;
    overflow: clip;
    max-width: 100%;
}
.hoover-card img {
    position: center;
    padding: 20px;
}

.container {
    max-width: 100%;
    position: absolute;
}
/* site.css */
.search-input {
    max-width: 40%;
    margin-right: 1%;
    margin-left: 20%;
}

.allCards-container {
    position: relative;
    width: 90%;
}

/* Add this CSS rule to make the text in the smaller-description class smaller */
.smaller-description {
    font-size: 0.8em; /* Adjust the size as needed */
}

.image-container {
    margin-bottom: 10px; /* Adjust margin as needed */
}

.detail-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

    .detail-item p {
        flex: 1;
        margin: 0;
        position: center;
        align-content: center;
        text-align: center;
    }


.searched-cards-container {
    position: fixed;
}


