# Visual Studio Code
.vscode/

# Visual Studio
.vs/
*.suo
*.user
*.sln.docstates

# Debug and build artifacts
/bin/
/obj/
Debug/
Release/
*.dbmdl
*.jfm
*.pdb
*.ipch/
*.pch
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb
*.VC.VC.opendb.lock

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

### Images ###
# JPEG
*.jpg
*.jpeg
*.jpe
*.jif
*.jfif
*.jfi

# JPEG 2000
*.jp2
*.j2k
*.jpf
*.jpx
*.jpm
*.mj2

# JPEG XR
*.jxr
*.hdp
*.wdp

# Graphics Interchange Format
*.gif

# RAW
*.raw

# Web P
*.webp

# Portable Network Graphics
*.png

# Animated Portable Network Graphics
*.apng

# Multiple-image Network Graphics
*.mng

# Tagged Image File Format
*.tiff
*.tif

# Scalable Vector Graphics
*.svg
*.svgz

# Portable Document Format
*.pdf

# X BitMap
*.xbm

# BMP
*.bmp
*.dib

# ICO
*.ico

# 3D Images
*.3dm
*.max

# Permited images
!background-image-1.jpg
!deckbuilder1.png
!logo-header-2.jpg
!trash-bin.png

# End of https://www.toptal.com/developers/gitignore/api/images
YGODeckBuilder.Tests/obj/project.assets.json
YGODeckBuilder.Tests/obj/project.nuget.cache
YGODeckBuilder.Tests/obj/YGODeckBuilder.Tests.csproj.nuget.dgspec.json
YGODeckBuilder.Tests/obj/YGODeckBuilder.Tests.csproj.nuget.g.props
YGODeckBuilder/obj/project.assets.json
YGODeckBuilder/obj/project.nuget.cache
YGODeckBuilder/obj/YGODeckBuilder.csproj.nuget.dgspec.json
YGODeckBuilder/obj/YGODeckBuilder.csproj.nuget.g.props
YugiohDB/obj/project.assets.json
YugiohDB/obj/project.nuget.cache
YugiohDB/obj/YugiohDB.csproj.nuget.dgspec.json
