@page
@model YGOCardSearch.Pages.DeckBuilder

<select class="form-select" aria-label="deck-select">
    <option selected>Selecciona un deck</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
    @foreach (var deck in Model.LoadedDecks)
    {
        
    }
</select>

@{
    if (Model.Deck.MainDeck != null)
    {      
        <h1 class="text text-black-50 text-center">
            Deck @Model.Deck.DeckName
        </h1>

        <div>
            <h1 class="text text-black-50 text-center">Extra Deck [@Model.Deck.MainDeck.Count]</h1>
        </div>

        foreach (var card in Model.Deck.MainDeck)
        {
            
                <span class="inner">
                    <a asp-page="CardViewer" asp-route-id="@card.CardID">
                        <img class ="inner" src=@card.CardImages[0].ImageUrlSmall>
                    </a>
                </span>
            
        }

        <div>
            <h1 class="text text-black-50 text-center">Extra Deck [@Model.Deck.ExtraDeck.Count]</h1>
        </div>

        foreach (var card in Model.Deck.ExtraDeck)
        {
            
                <span class="inner">
                    <a asp-page="CardViewer" asp-route-id="@card.CardID">
                        <img class ="inner" src=@card.CardImages[0].ImageUrlSmall>
                    </a>
                </span>
            
        }
         <div>
            <h1 class="text text-black-50 text-center">Side Deck [@Model.Deck.SideDeck.Count]</h1>
        </div>
        foreach (var card in Model.Deck.SideDeck)
        {
            
                <span class="inner">
                    <a asp-page="CardViewer" asp-route-id="@card.CardID">
                        <img class ="inner" src=@card.CardImages[0].ImageUrlSmall>
                    </a>
                </span>
            
        }
    }
}
